
[Desktop Entry]
Name=Turtle Arena
Comment=3D Third-Person Arena Combat Game
Exec=turtlearena
Terminal=false
Icon=turtlearena128
Type=Application
Categories=Game;ArcadeGame;
